{
  "openapi": "3.0.0",
  "info": {
    "title": "Fortis API",
    "description": "Learn how to to use our API. If you are a Developer getting started on a new integration for your application or if you are extending an existing integration, this is where you need to be.\n# Introduction\nThe Application Programming Interface (API) document describes how to process and run various payment related methods programmatically including Card (credit / debit) and Automated Clearing House (ACH) transactions. The Web Service is currently released to Production and is available for use by approved entities. Changes to the web services may be modified in future releases. The API utilizes REpresentational State Transfer (REST) and JavaScript Object Notation (JSON) to communicate. More about the JSON data format can be found at [http://www.json.org/](http://www.json.org/). These technologies are supported by every major programming language and environment.\n\n## Intended Audience\nThe intended audience for this document is technical managers and software development professionals.\n\n## Web Services Summary\nThere are various features of the API and some methods are not available unless the Client is signed up for certain features of the system. For example, a client not signed up for ACH service will receive a 403 response with a message that notifies the user they are not signed up for the service.\n\n## API Version Numbering\nPlease pay attention to the version number of the API they are utilizing. The version number is broken up into three positions: compatibility.features.fixes. For example, v1.2.3 the first position (1 in this example) represents the compatibility level. Any application utilizing version 1 of the API will always work with any other revision of version 1. Should the need ever arise to change the scope of the API a version 2 will be released which will not be backwards compatible. The latest compatibility version of the API will be available in the event a version 2 is released.\n\nIf a new compatibility version of the API is released, the URL will reflect the change to ensure integrations written utilizing any version will continue to function. The second position (2 in this example) refers to the addition of new fields/features. These features provide additional functionality and are backwards compatible. The third position (3 in this example) indicates bug fixes, when nothing structural has changed within the API.\n\n## HTTPS (TLS1.2)\nAll requests MUST utilize HTTPS/TLS1.2 to communicate with the API. Non-TLS transactions are not supported and any non-TLS transactions will not receive a response.\n# OpenAPI Specification\n\nFormerly known as Swagger Specification, [OpenAPI Specification](https://www.openapis.org/) is an open-source format and initiative for designing and creating machine-readable interface files that are utilized in producing, describing, consuming, and visualizing RESTful APIs and web services. The open API file permits software developers to define their API’s essentials, including:\n\n- Present endpoints and each endpoint’s operations \n- The input and output operation parameters\n- Authentication techniques\n- Things like contact information, terms of use, license, and much more\n\nThe main advantage of using a standard definition is that the third-party users can interact with and understand the service with minimal implementation logic, as long as they are familiar with RESTful APIs basics. API specifications are either written in YAML or JSON, formats that are readable, and easy to learn for both machines and humans.\n\nDownload OpenAPI specification: <a download href=\"./fortis-api.en-us.openapi.specs.json\">Download Specification</a>\n# Cross-Origin Resource Sharing\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).\nAnd that allows cross-domain communication from the browser.\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n# Postman Collection Sample\n\nPostman is an open source tool that assists in the submission of requests to a (REST) API. This tool is very easy to use and can help debug requests and speed the development process when coding.\n\nPostman can be downloaded for free from <a href=\"http://getpostman.com/\" target=\"_blank\">getpostman.com</a> \n\nAlso download our Sample Postman Collection <a download href=\"./fortis-api.postman.json\">Download Collection</a>\n\nOnce you download Postman, you can import our sample collection and make request calls.\n# Authentication\n\nFortisPay API uses a combination of headers fields to authenticate and authorize your request. Most of the endpoint uses `user-id`, `user-api-key` and `developer-id`, that can be found under the Developer Portal.\n\n<SecurityDefinitions />\n",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.fortis.tech",
      "description": "Sandbox Server",
      "variables": {}
    },
    {
      "url": "https://api.fortis.tech",
      "description": "Production Server",
      "variables": {}
    }
  ],
  "paths": {
    "/v1/onboarding": {
      "post": {
        "tags": [
          "On Boarding"
        ],
        "summary": "Merchant Boarding",
        "description": "This method can be used to pre-populate data on the Merchant Processing Application (MPA), a form that prospective merchants must complete and sign prior to approval. Using this method will reduce the effort required by the merchant at boarding time, in scenarios where data about the prospective merchant has already been collected. This method will return an Application ID, which can be sent to a prospective merchant to obtain and complete the pre-filled application.\n\n\nProperties that are marked \"Required\" indicate the minimum required data for creating and saving an MPA. When using this method, you must provide data for each \"Required\" property, or you will not receive an Application ID. Properties that are marked \"Required for completion\" are those which need to be provided to Fortis before the Merchant Processing Application can be approved. These properties may be omitted or left blank when using this method, however, the merchant will be required to provide this data before the application can be submitted. Properties that are marked \"Conditionally Required\" may be required for completion of the Merchant Processing Application, depending on the values provided for other fields. See the description for each of these properties for more information about their requirement criteria.",
        "operationId": "MerchantBoarding",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1OnboardingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseOnboarding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/batches/{batch_id}/settle": {
      "put": {
        "tags": [
          "Batches"
        ],
        "summary": "Settle a Batch",
        "description": "Settle a Batch",
        "operationId": "SettleaBatch",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "Batch ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseBatch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/batches/{batch_id}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "View Single Batch",
        "description": "View Single Batch",
        "operationId": "ViewSingleBatch",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "Batch ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseBatch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/batches": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "List All Batches",
        "description": "List All Batches",
        "operationId": "ListAllBatches",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseBatchsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new Contact",
        "description": "Create a new Contact",
        "operationId": "CreateanewContact",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ContactsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseContact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all Contacts",
        "description": "List all Contacts",
        "operationId": "ListallContacts",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseContactsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/contacts/{contact_id}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Delete Contact",
        "operationId": "DeleteContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseContact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "View Single Contact",
        "description": "View Single Contact ",
        "operationId": "ViewSingleContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseContact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact",
        "description": "Update Contact",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ContactsRequest1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseContact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/device-terms": {
      "post": {
        "tags": [
          "Device Terms"
        ],
        "summary": "Create a new device term",
        "description": "Create a new device term",
        "operationId": "Createanewdeviceterm",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1DeviceTermsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseDeviceTerm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Device Terms"
        ],
        "summary": "List all device terms related",
        "description": "List all device terms related",
        "operationId": "Listalldevicetermsrelated",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseDeviceTermsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/device-terms/{device_terms_id}": {
      "get": {
        "tags": [
          "Device Terms"
        ],
        "summary": "View single device term record",
        "description": "View single device term record",
        "operationId": "Viewsingledevicetermrecord",
        "parameters": [
          {
            "name": "device_terms_id",
            "in": "path",
            "description": "Device term ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseDeviceTerm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/locations/info": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Locations Detail",
        "description": "Locations Detail",
        "operationId": "LocationsDetail",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseLocationsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/locations/{location_id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "View single location record",
        "description": "View single location record",
        "operationId": "Viewsinglelocationrecord",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "Location ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseLocation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List all locations",
        "description": "List all locations",
        "operationId": "Listalllocations",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseLocationsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/quick-invoices": {
      "post": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Create a new quick invoice",
        "description": "Create a new quick invoice",
        "operationId": "Createanewquickinvoice",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1QuickInvoicesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "List all quick invoices related",
        "description": "List all quick invoices related",
        "operationId": "Listallquickinvoicesrelated",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoicesCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/quick-invoices/{quick_invoice_id}/resend": {
      "post": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Resend Notification Email",
        "description": "Resend Notification Email",
        "operationId": "ResendNotificationEmail",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/quick-invoices/{quick_invoice_id}/transaction": {
      "post": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Associate Transaction with Ouick Invoice",
        "description": "Associate Transaction with Ouick Invoice",
        "operationId": "AssociateTransactionwithOuickInvoice",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1QuickInvoicesTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Remove transaction from Quick Invoice",
        "description": "Remove transaction from Quick Invoice",
        "operationId": "RemovetransactionfromQuickInvoice",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/quick-invoices/{quick_invoice_id}": {
      "delete": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Delete quick Invoice",
        "description": "Delete quick Invoice",
        "operationId": "DeletequickInvoice",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "View single quick invoice record",
        "description": "View single quick invoice record",
        "operationId": "Viewsinglequickinvoicerecord",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Quick Invoices"
        ],
        "summary": "Update quick invoice",
        "description": "Update quick invoice",
        "operationId": "Updatequickinvoice",
        "parameters": [
          {
            "name": "quick_invoice_id",
            "in": "path",
            "description": "Quick Invoice ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1QuickInvoicesRequest1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQuickInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings": {
      "post": {
        "tags": [
          "Recurring"
        ],
        "summary": "Create a new recurring record",
        "description": "Create a new recurring record",
        "operationId": "Createanewrecurringrecord",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RecurringsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Recurring"
        ],
        "summary": "List all recurring record",
        "description": "List all recurring record",
        "operationId": "Listallrecurringrecord",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurringsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings/{recurring_id}": {
      "delete": {
        "tags": [
          "Recurring"
        ],
        "summary": "Delete recurring record",
        "description": "Delete recurring record",
        "operationId": "Deleterecurringrecord",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Recurring"
        ],
        "summary": "View single recurring record",
        "description": "View single recurring record",
        "operationId": "Viewsinglerecurringrecord",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Recurring"
        ],
        "summary": "Update recurring payment",
        "description": "Update recurring payment",
        "operationId": "Updaterecurringpayment",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RecurringsRequest1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings/{recurring_id}/activate": {
      "put": {
        "tags": [
          "Recurring"
        ],
        "summary": "Activate recurring payment",
        "description": "Activate recurring payment",
        "operationId": "Activaterecurringpayment",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings/{recurring_id}/defer-payment": {
      "put": {
        "tags": [
          "Recurring"
        ],
        "summary": "Defer recurring payment",
        "description": "Defer recurring payment",
        "operationId": "Deferrecurringpayment",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RecurringsDeferPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings/{recurring_id}/place-on-hold": {
      "put": {
        "tags": [
          "Recurring"
        ],
        "summary": "Place on hold recurring payment",
        "description": "Place on hold recurring payment",
        "operationId": "Placeonholdrecurringpayment",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/recurrings/{recurring_id}/skip-payment": {
      "put": {
        "tags": [
          "Recurring"
        ],
        "summary": "Skip recurring payment",
        "description": "Skip recurring payment",
        "operationId": "Skiprecurringpayment",
        "parameters": [
          {
            "name": "recurring_id",
            "in": "path",
            "description": "Recurring ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RecurringsSkipPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseRecurring"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/signatures": {
      "post": {
        "tags": [
          "Signatures"
        ],
        "summary": "Create a new signature record",
        "description": "Create a new signature record",
        "operationId": "Createanewsignaturerecord",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1SignaturesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSignature"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Signatures"
        ],
        "summary": "List all signatures record",
        "description": "List all signatures record",
        "operationId": "Listallsignaturesrecord",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSignaturesCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/signatures/{signature_id}": {
      "get": {
        "tags": [
          "Signatures"
        ],
        "summary": "View single signature record",
        "description": "View single signature record",
        "operationId": "Viewsinglesignaturerecord",
        "parameters": [
          {
            "name": "signature_id",
            "in": "path",
            "description": "Signature ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSignature"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/tags": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create a new tag",
        "description": "Create a new tag",
        "operationId": "Createanewtag",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List all tags related",
        "description": "List all tags related",
        "operationId": "Listalltagsrelated",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTagsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/tags/{tag_id}": {
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Delete tag record",
        "description": "Delete tag record",
        "operationId": "Deletetagrecord",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "Tag ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "View single tags record",
        "description": "View single tags record",
        "operationId": "Viewsingletagsrecord",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "Tag ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Tags"
        ],
        "summary": "Update tag record",
        "description": "Update tag record",
        "operationId": "Updatetagrecord",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "Tag ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TagsRequest1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/terminals": {
      "post": {
        "tags": [
          "Terminals"
        ],
        "summary": "Create a new terminal device",
        "description": "Create a new terminal device",
        "operationId": "Createanewterminaldevice",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TerminalsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTerminal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response412"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "get": {
        "tags": [
          "Terminals"
        ],
        "summary": "List all terminals related",
        "description": "List all terminals related",
        "operationId": "Listallterminalsrelated",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The current page number of the page to be retrieved. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The maximum number of records ta will be returned per page. You can use one of the following methods:\n>/endpoint?page={ \"number\": 1, \"size\": 50 }\n>\n>/endpoint?page[number]=1&page[size]=50",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 5000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "sort[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results, and you can combine more than one field for more complex sorting. You can use one of the following methods:\n>/endpoint?sort={ \"field_name\": \"asc\", \"field_name2\": \"desc\" }\n>\n>/endpoint?sort[field_name]=asc&sort[field_name2]=desc",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/sortfield_name"
            }
          },
          {
            "name": "filter[field_name]",
            "in": "query",
            "description": "You can use any `field_name` from this endpoint results as a filter, and you can also use more than one field to create AND conditions. You can use one of the following methods:\n>/endpoint?filter={ \"field_name\": \"Value\" }\n>\n>/endpoint?filter[field_name]=Value",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTerminalsCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      }
    },
    "/v1/terminals/{terminal_id}": {
      "get": {
        "tags": [
          "Terminals"
        ],
        "summary": "View single terminals record",
        "description": "View single terminals record",
        "operationId": "Viewsingleterminalsrecord",
        "parameters": [
          {
            "name": "terminal_id",
            "in": "path",
            "description": "Terminal ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTerminal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response401token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-id": [],
            "user-api-key": [],
            "developer-id": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Terminals"
        ],
        "summary": "Update terminal record",
        "description": "Update terminal record",
        "operationId": "Updateterminalrecord",
        "parameters": [
          {
            "name": "terminal_id",
            "in": "path",
            "description": "Terminal ID",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^(([0-9a-fA-F]{24})|(([0-9a-fA-F]{8})-(([0-9a-fA-F]{4}\\-){3})([0-9a-fA-F]{12})))$",
              "type": "string",
              "example": "11e95f8ec39de8fbdb0a4f1a"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1TerminalsRequest1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseTerminal"
                }
              }
[...]
